body {
    background-color:#a2abab;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

h1 {
    color: #123c6b;
    text-align: center;
}

h2 {
    color: #b74d29;
}
p {
    color: #202326;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    width: 100;
    height: 100;
    border-color: black;
}
.mask {
border-color: black;

}